
body {
font-family: "Roboto", sans-serif;
background-color: #FFFFFF;
color: #434455;
}
ul {list-style-type: none; }
a { text-decoration: none;}
.logo-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-highlight {
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contact-info {
    font-style: normal;
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.section-background {
    background-color: #2e2f42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.order-button {
    background-color: #4d5ae5;
    font-family: inherit ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}       
.order-button:hover,
.order-button:focus {
background-color: #404bbf;
}
.list-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-section {
    background-color: #F4F4FD;
}
.team-member {
    background-color: #FFFFFF;
}

.team-member-name {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member-role {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-list { background: #fff; }
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-title-large {
 font-size: 36px;
 line-height: 1.11;
 text-align: center;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 color: #2e2f42;
}
.footer {
    background-color: #2e2f42;
}

.footer-logo {
   color: #4d5ae5;   
}
.footer-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.logo-text-s {
    color: #F4F4FD;
}